<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Confirmation</title>
    </head>
    <body>
        <h2>Really Delete?</h2>
        {% for course in courses %}
            <p>Course #{{ course.id }} | Course Name: {{ course.name }}</p>
            <p>Created Date/Time: {{ course.created_at }} ?</p>
        {% endfor %}
        <form class="inline" action="{% url 'cancel' %}" method="post">
            {% csrf_token %}
            <input type="submit" name="" value="Cancel">
        </form>
        <form class="" action="{% url 'final_delete' id %}" method="post">
            {% csrf_token %}
            <input type="submit" name="" value="DELETE!">
        </form>
        <!-- <a href="/course/{{ id }}/final_delete">Do IT!!</a> -->
    </body>
</html>