*{
    padding: 0;
    margin: 0;
}
body{
    font-family: verdana, sans-serif;
}
table, thead, th, tr, td{
    margin: 20px 0 0 0;
    border: 1px solid #666;
    border-collapse: collapse;
}
td{
    padding: 3px;
}